@import "syntax-variables";

.editor-colors {
    background-color: @syntax-background-color;
    color: @code-color;
}

.editor {
    background-color: @syntax-background-color;
    color: @code-color;

    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;

        .line-number {
            &.cursor-line {
                background-color: @syntax-gutter-background-color-selected;
                color: @syntax-gutter-text-color-selected;
            }

            &.cursor-line-no-selection {
                color: @syntax-gutter-text-color-selected;
            }
        }
    }

    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: hsl(0,0%,60%);
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }
}

.editor .search-results .marker .region {
    border: none;
    background-color: @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
    background-color: @syntax-result-marker-color-selected;
    border: 0.1em solid @result-marker-selected-border-color;
}

// If this is not added, the markdown font will be "antialiased",
// which is too bright.
.source .gfm {
    -webkit-font-smoothing: auto;
}

.comment {
    color: @comment-color;
}

.keyword {
    color: @keyword-color;
}

.storage {
    color: @keyword-color;
}


.punctuation.html:not(.constant),
.punctuation.xml:not(.constant) {
    color: @keyword-color;
}

.meta.tag.xml, .meta.tag.html {
    color: @keyword-color;
}

.entity {
    &.tag {
        color: @keyword-color;
    }

    &.attribute-name {
        color: @keyword-color;
    }

    &.constant.character {
        color: @quote-color;
    }
}

.string:not(.xml):not(.html) {
    color: @quote-color;
}

.string.xml, .string.html {
    color: @code-color;
}

.support.property-name {
    color: @keyword-color;
}

// String interpolation in Ruby, CoffeeScript, and others
.source .string {
    .source,
    .meta.embedded.line {
        color: @code-color;
    }

    .punctuation.section.embedded {
        color: @code-color;

        .source {
            color: @code-color; // Required for the end of embedded strings in Ruby #716
        }
    }
}

.bracket-matcher {
    background-color: hsl(0,0%,80%);
    opacity: 0.6;
    border-bottom: 0 none;
}
